<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481867099935-8a4ueui53f0c93a8ap3gb2fiv0276h62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481867099935-8a4ueui53f0c93a8ap3gb2fiv0276h62</string>
	<key>API_KEY</key>
	<string>AIzaSyCe1OevogKqLv8U9thf8RIfNGvhnrmBX_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>481867099935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCases</string>
	<key>PROJECT_ID</key>
	<string>financas-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>financas-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481867099935:ios:6a2ae99819ca3898bc4a2a</string>
</dict>
</plist>